a {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}
body {
	margin: 0; padding: 0;
    height: 100%; width: 100%;
    background-color: #202020;
    background-image: url('../img/bg.png');
}
@font-face {
    font-family: RailroadGothic;
    src: url("../RailroadGothic.otf") format("opentype");
}
h1,h2 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px;
    margin: 0; padding: 0;
    text-shadow: 1px 1px 5px #000;
    text-align: center;
    text-transform: uppercase;
}
h1 {
    font-size: 4em;
    text-transform: uppercase;
    color: #fff;
}
h2 {
    font-size: 2em;
    color: inherit;
}
hr {
    margin: 30px 40% 30px 40%;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
}
html {
	height: 100%;
}
p {
    font-family: 'RailroadGothic';
    font-size: 16px;
    color: #fff;
    margin: 0;
    text-align: center;
}

/* General Classes */
.container {
    width: 100%; height: 100%;
}

/* Cover Page */
.coverCont {
    width: 100%; height: 100%;
    background-image: url(../img/covertext.png);
    background-color: #fff;
    background-size: cover;
}
